.fazmerir-golden{
	color: yellow;
	font-weight: bold;
}
.fazmerir-golden .word1{    
   
}
.fazmerir-golden .prefix{    	
	font-size: 60%;
    vertical-align: top;
	line-height: 1.5;
}
.fazmerir-golden span:last-child span:nth-letter(2n1) {
  color: green;
  font-size: 30%;
  vertical-align: bottom;
  line-height: 1.5;
}