@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

.fazmerir-demo{	
	font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0px;
	line-height: 1em;	
}
.fazmerir-demo *{
	display: inline-flex;	
}
.fazmerir-demo .prefix{
	font-size: 30%;
    
	line-height: 2em;
	vertical-align: top;
}
.fazmerir-demo .cents{
	font-size: 50%;
    
	vertical-align: bottom;
	line-height: 1.5;
	padding: 0px;
	margin: 0px;
}
